[2014-12-17 18:24] TomKaltz opened #1 "Floating point precision"
How are you handling floating point precision in this library.  Seems like you're just storing a javascript Number type.  I am pretty sure this will lead to rounding errors when calculating balances.

http://floating-point-gui.de/

[2014-12-20 03:03] #1 closed, assigned to nobody

[2014-12-31 14:41] arqlz opened #2 "Voided Docs pair keep unvoid"
When voiding a transaction the void pair keeps unvoid, so you could not filter only unvoids.
EXAMPLE:

var Libro = new medici.book('Libro');
Libro.entry("test").debit("Activos:Banco", 5000).credit("Gastos:Proyecto", 5000).commit()
    .then( function (journal) {
        // ill ignore the returned journal
        Libro.ledger("Activos").then( function(docs) {
            // Now ill void the first i

[2014-12-31 14:42] arqlz opened #3 "Update Documentation"
Entry.write() no longer works (Use commit insteat??)

[2015-01-10 23:28] jraede commented on #3
Unfortunately I don't have time to maintain this repo anymore, but feel free to create a PR with updated docs!

Thanks

[2015-01-10 23:28] #3 closed

[2015-01-10 23:29] jraede commented on #2
I'm not sure I understand the issue - can you clarify?

[2015-01-11 01:18] arqlz commented on #2
If an entry (erroneous one) is voided, a copy is made with contrary values. And The first one property voided is turn to true. But the new negative one property voided keep true. So if you use ledger youll get the new unvoid transacción but no The last voided one. I think both should be tagget as voided = true

[2015-01-11 02:22] jraede commented on #2
So do you need a flag to designate if a transaction was created in order to neutralize a voided transaction? Can't you just look to see if a transaction has an `_original_journal` property, which would mean that it was created in order to void a transaction in another journal entry?

[2015-01-29 00:37] arqlz commented on #2
Not what i was thinking about, but thanks, it works for me

[2015-03-11 02:56] #2 closed

[2016-04-19 13:36] mos-flash opened #4 "meta data is not copied on voided Transactions"
Hi,

not sure if this library is still actively maintained. I believe I have come across a bug where transactions which have meta tags are not voided correctly. The extra ledger entry which is created to reverse the original transaction should have the same meta data as the original entries. if this is not the case - then balance queries based on meta tags are incorrect when a transaction has been

[2017-08-15 23:42] koresar commented on #4
@jraede hi there!

The project looks great, but unvisited for 4 years. I understand how that happens.

How about mos and I take ownership of the package, start maintaining it and upgrading, etc?

That would help the community greatly!

[2017-08-16 01:44] jraede commented on #4
Works for me. I can transfer ownership to you in github. Do you know how to do that in npm?

Sent via Mobile

________________________________
From: Vasyl Boroviak <notifications@github.com>
Sent: Tuesday, August 15, 2017 7:42:05 PM
To: jraede/medici
Cc: Jason Raede; Mention
Subject: Re: [jraede/medici] meta data is not copied on voided Transactions (#4)

@jraede<https://github.com/jraede> hi ther

[2017-08-16 04:28] koresar commented on #4
That's awesome!
NPM is simple: https://docs.npmjs.com/cli/owner
Basically, `npm owner add koresar` inside the repo.

[2017-08-17 05:38] koresar commented on #4
Some info about myself.
I lead this OSS - https://github.com/stampit-org/stampit
and write about it sometimes - https://medium.com/@koresar/fun-with-stamps-episode-1-stamp-basics-e0627d81efe0
It consists of a dozen other modules - https://www.npmjs.com/~stamp

Mos and I work here: https://www.flash-fx.com/
We forked your awesome module, but we believe we can do a better effort by maintaining it pu

[2017-08-17 21:24] jraede commented on #4
@koresar should be all set.

[2017-08-17 21:29] koresar commented on #4
Brilliant! Thank you so much.
We appreciate your help.

[2017-08-23 07:19] koresar commented on #4
@jraede good news. v1.0.0 was published!
https://unpkg.com/medici@1.0.0/

See changes in the bottom of the README https://github.com/koresar/medici#changelog
Here is the PR involved: #5

Thank you very much Jason for the great piece of code and the openness. :)

[2017-08-23 07:19] #4 closed

[2017-08-23 09:14] koresar commented on #1
There is literally one place where is could happen - when we calculate total of all transactions. In the new `medici@v1.0` the place is guarded by a brave `if` statement.

Good news is that `medici` is battle tested (by us). So, pretty sure precision is not an issue as of now.

[2017-11-10 08:13] zenners opened #6 "List of Journal Entries"
Hello,

I've been playing around your lib and like it a lot. I was wondering how I would go about adding a method to get the journal entries and populate those with the debits and credits. I have a usecase where I would need to upload the entries to an external accounting system.

I looked into the source and saw the ``` this.journalModel = mongoose.model('Medici_Journal'); ```

and of course have

[2017-11-11 02:11] zenners commented on #6
never mind :)

[code]

does the trick

[2017-11-11 02:11] #6 closed

[2018-01-22 04:33] assemmarwan opened #7 "write is not a function"
I have tried running the code snippet in the README but it says that "write is not a function". The code i tried is:

`const { book } = require('medici');`

`const myBook = new book('TEST');`

`myBook.entry('cool')`
   ` .debit('Assets:Cash', 1000)`
    `.credit('Income', 1000, { client: 'Sameer' })`
    `.write().then(result => {`
        `console.log(result);`
   ` });`

[2018-02-15 10:04] koresar commented on #7
Ouch. Thanks mate!

I think it should be `commit()` instead. @assemmarwan could you please check if I am correct and maybe supply a PR? I'd be very thankful!

[2018-03-02 09:42] muenzel commented on #1
Thank you for maintaining this lib. I am currently evaluating for production use.
I found the following rounding issue:

![image](https://user-images.githubusercontent.com/16045496/36892711-e7ab9574-1e05-11e8-86e4-6b5d303f3277.png)

`{
      "_id": "5a991a9446fa7c0794a507ab",
      "accounts": "Income",
      "credit": 99.8,
      "debit": 0,
      "book": "test",
      "memo": "Something else",

[2018-03-02 10:20] koresar commented on #1
Would you be able to:
1) extract the code snippet which reproduces the bug?
2) and create a new issue for the bug.

That would help us significantly.
Thanks!

[2018-03-02 10:41] muenzel opened #8 "Invalid entry gets accepted (maybe JS rounding issue)"
I have the following code
[code]
which leads to a valid journal entry instead of raising an INVALID JOURNAL exception, as expected.
[code]

[2018-03-02 10:48] muenzel commented on #8
If I am doing this the other way around (debit 99.8 and credit 99.9), I get the error:

Maybe a missing abs() in the boundary check function?

[2018-03-02 12:17] muenzel commented on #2
When I void an journal entry then the transactions are marked as voided but the journal entry is not.

Both the transaction as well as the journal entry have the 'approved' and 'voided' flags, but it seems that the voided flag from the journal is not used at all (or am I missing something)

[2018-03-03 04:26] koresar commented on #2
Thank you for the contribution. I'll take a look on Monday. Do you have
time to wait few days?

On 2 Mar. 2018 23:17, "Harald Münzel" <notifications@github.com> wrote:

[2018-03-03 05:26] koresar commented on #8
Don't have any time today. Would attempt to fix on Monday.

[2018-03-05 04:08] koresar commented on #7
Fixed.

[2018-03-05 04:08] #7 closed

[2018-04-27 10:30] olamilekan000 opened #9 "Double Entry Principle In accounting"
The double entry principle which states that:

 was added.

[2018-04-27 10:45] #9 closed

[2018-09-13 17:53] ajbraus opened #11 "Example Project"
Is there an example project of how this is used? I'm debating between this and using SQL.

[2018-09-14 00:54] koresar commented on #11
I'm not an expert myself, but here is what I did to get started:
* You would need to be familiar with [double-entry accounting terminology](https://www.google.com/search?q=double-entry+accounting+terminology)
* You'd need a MongoDB
* When `require("medici")` is executed it creates Mongoose in-memory schemas. Nothing is created in the DB at this stage.
* Then you need to create a new Book. For exam

[2018-09-26 02:32] koresar opened #12 "RFC: Medici is slow when number of records reach 30k, add indexes"
The balance queries take 100 - 400 ms **average**. The MongoDB Cloud Performance Adviser shows these fields are good candidates for indexing:
[code]

The Medici v2.1 should be released and set the indexes by default.

[2019-03-05 23:01] #11 closed

[2019-07-02 00:51] koresar commented on #12
Indexes were added in v3.0. No API changes between v2 and v3 though.

Here is the list of indexes added: https://github.com/koresar/medici/commit/274528ef5d1dae0beedca4a98dbf706808be53bd

[code]

[2019-07-02 00:51] #12 closed

[2019-07-02 01:11] koresar commented on #12
The README was updated with more details on performance: https://github.com/koresar/medici#performance

[2019-07-02 01:18] koresar opened #13 "Drop node 6 support, replace .then() with async/await"
Looking for a volunteer to do it.

* Drop node 6 support,
* replace `.then()` with `async/await`

[2019-08-16 04:55] palak2011 opened #14 "Update the readme to make installation clearer"

[2019-08-16 13:25] koresar commented on #14
I happily accept pull requests as I have no idea what's missing in the README 😂

[2019-08-16 13:25] #14 closed

[2019-09-18 20:47] samuelt1 commented on #13
I think I might do this, but how picky are you about pill requests? I have not contributed many times because the repository owner wanted all functions in alphabetical order.

[2019-09-18 22:23] koresar commented on #13
ahahahaha! I have never heard of such a thing in my life (except in C# world). :)

I'm not at all picky. Just don't break existing stuff. :)

Also, if you contribute a meaningful PR I'd love to make you a maintainer of medici.

[2019-09-20 20:10] samuelt1 commented on #13
sweet I will look into it then. I am going to use Medici then for my project. It will probably be like 1 month for my pull request, but I look forward to working with you.

[2019-09-21 09:42] koresar commented on #13
I already like you! 😍

On Sat., 21 Sep. 2019, 06:10 Samuel Thompson, <notifications@github.com>
wrote:

[2019-10-29 22:38] koresar commented on #13
@samuelt1 any updates yet?

[2019-10-30 04:40] samuelt1 commented on #13
I got distracted with other things. I am just starting to use your module now

[2019-10-30 05:13] koresar commented on #13
Typical situation. 😀

On Wed., 30 Oct. 2019, 15:40 Samuel Thompson, <notifications@github.com>
wrote:

[2020-04-07 03:20] koresar commented on #13
v4.0.0 was published. The only change - use async/await everywhere. Drop node.js 6 support.

[2020-04-07 03:20] #13 closed

[2020-04-15 21:55] nicolasburtey opened #16 "performance with index"
I think the Readme is misleading.

I'm assuming there is no performance issue over 30k record when running index.

Is that correct?

related to #12

[2020-04-16 03:35] koresar commented on #16
Thanks! Readme got updated. :)
Is it better now?

[2020-04-16 03:35] #16 closed

[2020-04-16 08:42] rw1018 opened #17 "List of all accounts"
Hi is there a way to get a list of all accounts in a book?

[2020-04-16 16:34] nicolasburtey opened #18 "multi currency account"
If you were to implement a multi-currency version of Medici, how would you do it?

I guess

```.debit('Assets:Cash', 1000,  {meta})``` would need another parameters, ie: ```.debit('Assets:Cash', 1000,  {meta}, "USD")```

A transaction would still equal out with multiple currencies. ie Alice sending 10 USD for 12 EUR to Bob:

[code]

Now the issue would be that, if we try to fetch a balance like th

[2020-04-17 01:54] koresar commented on #17
Well, I found that this feature exists and supported but undocumented.

`await myBook.listAccounts()` should do it.

Would you like to edit our README.md and insert the lacking documentation?

[2020-04-17 01:54] #17 closed

[2020-04-17 02:10] koresar commented on #18
Hm... Having multiple currencies in a same book? That doesn't sound like a double-entry accounting system. I'd recommend creating a separate book for a new currency. That the only safe way to go. Otherwise you can get yourself into a lot of troubles.

Medici checks every commit is zero balanced. See source code: https://github.com/koresar/medici/blob/a1d43c3cee03f0d2f84badad29324bef678c67de/src/en

[2020-04-17 02:59] nicolasburtey commented on #18
The issue is if you do cross-currency transactions. I don't think you could do such transaction atomically if you have them in 2 books?

[Ledger](https://github.com/ledger/ledger/wiki/Multiple-currencies-with-currency-trading-accounts) has a useful wiki on it.

Would there be some constraint to have more than 3 sub accounts (performance?). If accounts need to finish with currency, there 3 may not

[2020-04-17 08:08] koresar commented on #18
Can be done in one book.

Alice converting AUD->EUR within her multicurrency wallet:
[code]

Just make sure that the sum for AUD is always 0. And for EUR.

To get total AUD balance:
[code]

Not sure if that's helpful.

[2020-04-17 19:17] nicolasburtey commented on #18
Let me play with it and see. Just a question to understand the behavior or Medici.

The documentation says:

```Accounts are divided into up to three levels, separated by a colon```

But after skimming through the code I have not seen this limitation. Ie: `AUD:Equity:Trading:Currency:AUD:EUR` will have 6 sub-accounts (and not be limited by 3) in total.

Is that correct?

[2020-04-17 23:44] koresar commented on #18
Documentation sadly is outdated.
I also do not remember any sub accounts limitations.
Sleep about that. Would you be able to submit a PR with the README changes
for that sentence?

On Sat., 18 Apr. 2020, 05:17 nicolasburtey, <notifications@github.com>
wrote:

[2020-04-18 00:01] nicolasburtey commented on #18
Just proposed a PR to remove what I believe is not correct in the README

[2020-04-20 21:00] nicolasburtey commented on #18
actually I might have talked too quickly: https://github.com/koresar/medici/blob/e6a2c27fa28fd748bb7c349b16a9e4ccc0f943d5/src/entry.js#L38

[2020-04-20 21:01] nicolasburtey commented on #18
will continue seeing how to integrate multi-currency and will try to pull a PR if I find a good way forward

[2020-04-20 22:06] koresar commented on #18
Sounds awesome!

On Tue., 21 Apr. 2020, 07:02 nicolasburtey, <notifications@github.com>
wrote:

[2020-04-21 10:05] koresar commented on #18
Thinking out loud, maybe we should just remove this limitation?

[2020-04-21 15:11] nicolasburtey commented on #18
probably. do you know why it was here in the first place? to limit index size?

[2020-04-21 23:33] koresar commented on #18
I don't know exactly. But I suspect that the first version of the medici API allowed to pass
`account, subaccount, subsubaccount`.

The newer (current) API let you pass these as a concatenated string
`"Assets:Something:Somethingelse"`

[2020-05-04 17:32] nicolasburtey opened #22 "voided invoice issue"
It seems invoiced are being voided for the transaction collection but not marked as voided on the journal collection. I'll make more tests and provide a PR if that the case.

[2020-05-04 17:42] nicolasburtey commented on #22
example:

voided at the transaction level:

![image](https://user-images.githubusercontent.com/11156370/80995841-c2068d00-8df3-11ea-9c35-e229a51db398.png)

but not at the journal level:

![image](https://user-images.githubusercontent.com/11156370/80995722-94214880-8df3-11ea-9bf6-ba2ce659dcf4.png)

[2020-05-05 01:29] koresar commented on #22
Oh. That sux. Thanks for the efforts!

Another thing I don't like in that `.void()` method is that every individual transaction is updated separately. Whereas we should updated them all in one DB call `updateMany`.

If you feel like doing more changes to this method - feel free to optimise for speed. :)

[2020-05-05 02:32] nicolasburtey commented on #22
I'll have a look.

Looking at the code, I think there is no use of [database-level transactions](https://mongoosejs.com/docs/transactions.html).

That seems this could important for such a library. But maybe there is no such issue for some reason I'm not aware of?

[2020-05-05 02:42] koresar commented on #22
ACID transactions is the next big things I wanted to implement (if time permits).
But, yeah. This library need that feature very much. I'd tackle it separate from this issue though.

[2020-05-05 15:39] nicolasburtey opened #23 "Add transaction level-db support"
Currently, journal/transactions are not added/update with [atomic, database-level transactions](https://mongoosejs.com/docs/transactions.html). This can lead to inconsistency if the database crashes in the middle of a transaction.

[2020-05-05 15:39] nicolasburtey commented on #22
Good point. I have created an issue for it.

[2020-05-05 15:42] nicolasburtey commented on #18
I have currently being using

[code]

with no issue so far. as long as every balance() call includes currency the balance seems correctly fetch with the currency flag.

closing this for now.

[2020-05-05 15:42] #18 closed

[2020-05-06 05:33] koresar commented on #18
thank you for the thread!

[2020-05-14 20:35] nicolasburtey commented on #22
note: the issue might come from the fact I tried to void an transaction from the Transaction ledger instead of the Journal ledger.

[2020-09-17 07:12] rohi opened #26 "Commit not working"
I am trying to run an example with MongoDB back end.

`    const bookDb = new book("MyBook");

    let journal = await bookDb
      .entry("Test Entry")
      .debit("Assets:Receivable", 500, { clientId: "12345" })
      .credit("Income:Rent", 500)
      .commit();`

But I don't see the commit working.
Also is there a way to specify the DB name so as to support multi tenant solution.

An working e

[2020-09-17 10:02] koresar commented on #26
What does it mean "commit is not working"? The `journal` variable is empty? Or the db has no data? Or it throws?

Medici is using mongoose.
The DB name is whatever your mongoose is connected to currently.

If you're talking about the collections names - you need to learn how mongoose works. TL;DR: you need to (re)define the schema: https://github.com/flash-oss/medici#customizing-the-transaction-do

[2020-09-17 10:28] rohi commented on #26
"What does it mean "commit is not working"? The journal variable is empty? Or the db has no data? Or it throws?"

The sample code above is from one of the discussions raised here in the forum. Also the assumption I made from that code is that it will create a new transaction entry I hope it is right.

When I mean "commit is not working" it means that it never returned i.e. promise didn't get resol

[2020-09-17 11:51] koresar commented on #26
Your problem - mongoose is not connected. That's why DB any operations stuck and never finish. that's why you don't see tables created.

With mongoose you need to have only ONE mongoose instance installed and used by your node app.
See how many installations you've got by typing: `npm ls mongoose`

For more information how mongoose work I'd recommend asking questions in StackOverflow: https://stac

[2020-09-17 11:51] #26 closed

[2021-05-01 08:48] anentropic opened #28 "Example in readme is broken"
trying this example:
[code]
I get:
[code]
Same if I use `Date` for both with no moment.js stuff.

It turns out the fix is to pass `start_date` and `end_date` as strings instead of `Date` instances, i.e.:
[code]
...works fine.

This is with `medici-4.0.1` `mongoose-5.12.7` and MongoDB 4.2

[2021-05-01 10:53] koresar commented on #28
Thank you very much! Fixed in medici v4.0.2

[2021-05-01 10:53] #28 closed

[2021-10-19 20:56] growandwin opened #29 "money should not be stored as number"
Hi, nice library, but money should not be stored in floats - this is just very risky and a great pitfall.

Maybe you could implement dinero?

https://v2.dinerojs.com/docs

[2021-10-19 22:52] koresar commented on #29
Hello.
Very much agree about calculating numbers. But I can't see why you propose calculation library to store numbers. I couldn't find by your link how the dinero numbers should be stored.
Moreover, MongoDB stores JS Numbers natively. Whereas dinero data is not native for MongoDB.

Dinero is not a storage library, but a calculation library. Proposing to "store dinero objects in MongoDB" sounds li

[2021-10-19 22:52] #29 closed

[2021-11-20 14:50] krtk6160 opened #30 "Add support for mongoose 6.x"
Upgrading to mongoose 6.x is breaking medici. All the operations return `buffering timeout` errors.

[2021-11-20 22:46] koresar commented on #30
@krtk6160 would you please submit a PR which fully upgrades medici to mongoose v6?

[2021-12-06 03:24] Uzlopak opened #31 "Wrong default for timestamp in transactions schema"
I think this line is wrong

https://github.com/flash-oss/medici/blob/9d22ecaa870971acb341936ee251f7f281ba0a03/src/index.js#L25

Should be actually something like () => (new Date())

[2021-12-06 04:23] koresar commented on #31
You're right. It doesn't really compile in TypeScript. `Date.now` returns Number, not the Date.

The `mongoose` (and bare JavaScript) though is able to convert Number to Date on the fly. This line of code is quite widespread in codebases which use `mongoose`. It is often used for speed, - when you don't want to create the Date complex object but a simple Number.

But if you strongly believe that w

[2021-12-06 04:23] #31 closed

[2021-12-10 12:02] Uzlopak opened #32 "Little Confusion in debit function"
We push the transaction into the array and later we add meta to the object

https://github.com/flash-oss/medici/blob/master/src/entry.js#L104
https://github.com/flash-oss/medici/blob/master/src/entry.js#L105

In credit we first add meta and later we push it to transactions.

Probably this is no problem, as we have an Object reference so we still manipulate the object in the array. But I think it i

[2021-12-13 00:41] koresar commented on #32
Yeah. Totally agree.
But I can see you have already fixed it in your PR!
Mate, I'm impressed.
![Alt Text](https://media.giphy.com/media/fnK0jeA8vIh2QLq3IZ/giphy.gif)

[2021-12-13 00:41] #32 closed

[2021-12-13 11:34] Uzlopak opened #34 "v5 Discussion Thread"
@koresar

I made some changes to the typescript branch. I removed node 10 support, as it is EOL and added node 16 as it is current LTS.

The branch itself uses mongoose 6. Maybe it is better to make it a peerDependency? But this should resolve #30

I also added an optional Options parameter to "sessionable" methods  to pass a mongo session. I think there is an issue with the pre save hook regardin

[2021-12-13 12:08] koresar commented on #34
We can't make mongoose a peerDependency as yet. But I think you fixed the timeouts by adding `.exec()`. Not sure though.

The `book.ledger()` lost its `populate` option. This is a feature removal. Breaking change. Needs to be listed in the README.

Also, README needs a reversal of the collection name "medici_transactions".

[2021-12-13 12:14] Uzlopak commented on #34
Ah, right sorry. I copied from my local fork. Will add back the populate option

[2021-12-13 12:22] Uzlopak commented on #34
@koresar
Added back populate.

What timeouts are you referring to?

[2021-12-13 12:34] koresar commented on #34
the linked #30 talks about timeouts.

Mongoose 6 had a number of breaking API changes. One of them looks like timeout(s). I could be wrong though.

[2021-12-13 15:30] Uzlopak commented on #34
Made the date range more resilient.

[2021-12-13 16:23] Uzlopak commented on #34
Unified the credit and debit logic in private method transact, so credit and debit are "curried" from transact method. now all fields of a transaction are set. E.g. in debit setting the timestamp was missing. Now that we set everything, we can ensure, that we wont miss anything.

Made it again possible to "inject" your own mongoose schema. :). With that now it determines the keys of a transaction

[2021-12-13 16:51] Uzlopak commented on #34
Well, I think I refactored as much as I could. Maybe you give it a shot?

[2021-12-13 23:49] koresar commented on #34
Help me to understand the `.husky/pre-commit` file contents:

[code]

Why I can't find "husky.sh" on my hard drive? Why we execute remote code via `npx`? And why twice?

If this was all about Prettier, then prettier makes most sense when **typing code**. It has quite minimal sense putting it to git hooks. IMO

[2021-12-14 00:09] Uzlopak commented on #34
I took it from here

https://prettier.io/docs/en/precommit.html

[2021-12-14 00:19] Uzlopak commented on #34
I guess we need to modify .gitignore so that .idea files are ignored.

Also I guess now mongodb-memory-server is using only mongo 4.2.5. So we have to make it possible to detect if we are using CI and use the mongo database from the CI or if we are local, use mongodb-memory-server

[2021-12-14 00:30] Uzlopak commented on #34
ok, now uses process.env.CI to determine if we are in the CI and if so, use the database from the CI.If not, we use mongodb-memory-server :)

[2021-12-14 00:49] Uzlopak commented on #34
@koresar
I wanted to answer to your remark here
https://github.com/flash-oss/medici/pull/33#issuecomment-992054391

You wrote:

I agree. But I usually try to keep the amount of the production dependencies low. But on the code quality development dependencies I go crazy, if they help me to reduce potential bugs. :)

[2021-12-14 01:26] koresar commented on #34
I like your refactorings! Sorry I pushed `.idea/` files. I didn't realise the `.gitignore` got shrunk in this branch.

I find lint-staged useless, as I never stage files. I just push them (as you might have noticed). :)

I would highly highly recommend installing a prettier plugin to your IDE. It speeds up development by a ton.
It doesn't matter what code style we have committed to the repo. I jus

[2021-12-14 01:45] Uzlopak commented on #34
I am currently checking the performance.

I am looking to optimize the balance functionality. I think we can remove projection stage, but we dont get actually good performance from it. I think it is necessary to create a new collection like accounts and store there the balance of an account and every time when the journal is written also the account balance should be incremented or decremented.

I

[2021-12-14 02:04] koresar commented on #34
Hi.

I am not happy with the performance either. But we have a way to overcome them.

I like the "medici_accounts" because in our production those accounts are a mess!
But the "medici_accounts" can potentially get out of sync with "medici_transactions". It **will** happen at some point (even we use ACID transactions, aka session). Medici would not be production-ready module if we do not guarantee

[2021-12-14 02:22] Uzlopak commented on #34
Dont worry, that Branch is only about typescript and refactoring.

But I somehow feel, that putting that information to transactions, will be opening a can of worms. E.g. predating entries.

Btw. I fixed also eslint for linting.

Is there anything we should focus on now in this branch?

[2021-12-14 02:52] Uzlopak commented on #34
@koresar
Can it be, that the pagination in .ledger() is broken?

https://github.com/flash-oss/medici/blob/4d4e7cc6ca876ae80c6c358996f29c3505ec364e/src/book.js#L132

Usually pagination is in the order sort, skip, limit. In ledger we have skip, limit and then sort. Maybe it doesnt matter, because it is a query and we use the query builder...

On the other hand we dont limit the aggregation in .balan

[2021-12-14 03:14] koresar commented on #34
Correct. Order in queries doesn't matter. It matters in pipelines only.

We don't have limit in the `.balance()`. As soon as you get 1 billion transactions your balance gets calculated in about 1 second. That is a big trouble.

It's not a "code smell", but more like "performance stink". :)
Yeah. We have to fix it somehow.

[2021-12-14 03:22] koresar commented on #34
Sorry. I'm removing pre-commit hook. Not you nor me need the prettification on commit.

Also, I'm fixing eslint to avoid linting auto-generated folders (build/ and types/).

[2021-12-14 03:50] koresar commented on #34
I was about to merge this branch to master, but it doesn't build any more. See CI.

[code]

![image](https://user-images.githubusercontent.com/1622575/145929860-a0a3be97-440e-4605-9511-40955c99f9ab.png)

Please help.

[2021-12-14 12:53] Uzlopak commented on #34
Regarding .balance()

I think the pagination is wrong. We skip x-elements but still add up till the end of all transactions

I would like to solve it like this:
https://github.com/flash-oss/medici/commit/50d928f90bd2b518e51deee75452c1851d939ca9

[2021-12-14 16:58] Uzlopak commented on #34
I created https://github.com/flash-oss/medici/tree/medici_accounts branch, were i created a medici_accounts table. With that it has a O(1) lookup time for getting the account. I did not replace the original balance method, as it makes sense to have two methods. One for fast lookup and one for slow but save lookup.

balanceFast does take only one account (like the normal balance) and also expects t

[2021-12-14 20:10] Uzlopak commented on #34
Or we could make it so, that if we use ACID-sessions, we make balanceFast call, and if we dont find the account, we make the normal balance call and we create the entries in the account collection, according to the original balance result. Also if we do a balance call and we use sessions, we update the value in the account.

So then successively a v4 medici installation would fill up the account t

[2021-12-14 20:37] Uzlopak commented on #34
@koresar
If you agree with the latest approach, I would implement it. The thing is, that I need the fast account lookup in my product, so for my needs i am already satisfied with the changes. I think the last approach has the best tradeoffs. It ensures, that we have reliable data in the accounts collection, the source of truth  are still the transactions and we dont force the mongodb to use alot o

[2021-12-14 22:15] Uzlopak commented on #34
@koresar

Done some changes in the ci-workflow

I know, you live Australia, so I guess you will be at work in a short. Looking forward for your feedback.

[2021-12-15 04:49] koresar commented on #34
Thank you for all the changes!

1. We can drop MongoDB support which do not have ACID. Meaning, support only v4 and up.
2. I think I'm okay with your "balanceFast" solution. You'd need to store ObjectID "link" to the most recent transaction used in the balanceFast value. We have to track it for other important reasons.

Also please think of the following scenario:

* We have a lot of ledger entrie

[2021-12-15 13:11] Uzlopak commented on #34
@koresar
I modified ledger to take lean as option. Tbh I dont know why somebody wants to use hydrated objects there anyway. It exposes the risk that you could  actually update exactly one transaction in the field approved, credit and debit and mess up the whole ledger.

[2021-12-16 15:15] Uzlopak commented on #34
@koresar
I think it is nearly perfect. From DX-PoV I guess this is also super good, as I typed it to the extreme.  It has a code coverage of 100% and  solved Bugs. Also I added some typescript types test and some stresstests, to ensure that the sessions are working properly.

Please review it.

Only the balance pagination behavior is something i find still to be considered a bug, See plz https://g

[2021-12-17 06:54] Uzlopak commented on #34
Finally fixed the performance issues.

https://github.com/Automattic/mongoose/issues/11115

[2021-12-17 07:04] Uzlopak commented on #34
@koresar are you active today?

[2021-12-17 22:21] koresar commented on #34
Hi mate
Will be back next week. Sorry for the delay.

On Fri, 17 Dec 2021, 18:04 Uzlopak, ***@***.***> wrote:

[2021-12-18 00:25] Uzlopak commented on #23
@clintonb
@nicolasburtey
@grinono
@maximkolc
@gaessaki
@simpleicodev
@rafacorcof

A Code Review is more than welcome :) #35

[2021-12-18 00:25] Uzlopak commented on #30
@krtk6160

You are welcome for a Code Review #35

[2021-12-21 14:17] #34 closed

[2021-12-23 11:58] Uzlopak opened #38 "FastBalance approaches and solutions"
I thought about this issue multiple times, and these were my "simple" solutions.

1. Account Table
All the transactions will be summed up in an account document. Potential issue is the writeLocks on heavy used accounts.

2. Create a balanceSumUp collection **(UPD: we have implemented this solution)**
The actual issue of balance is that the operation is O(N) where N is the amount of transactions as

[2021-12-23 12:00] koresar commented on #30
Published as `5.0.0-next.0` npm tag:

[code]

[2021-12-23 12:00] #30 closed

[2021-12-23 12:00] koresar commented on #23
Published as `5.0.0-next.0` npm tag:

[code]

[2021-12-23 12:00] #23 closed

[2021-12-23 13:11] koresar commented on #38
Ok. I gave it a very deep thought. :) Well, as deep as I can at midnight.

I think your `medici_balances` idea is the best. (Yeah, let's rename balanceSumUp -> medici_balances.)

Few random thoughts.

* I would add "account name" to the below list, and possibly the "timestamp of that transaction".

* Maybe, just maybe, we would not need to create more than one doc in `medici_balances`.

* I would

[2021-12-23 19:23] Uzlopak commented on #38
I thought about it. The approach seems to be problematic. There is no guarantee that transactions are always sequentially as e.g. the timestamp is generated in JavaScript with local time of node.
Also ObjectIds are created with a timestamp so they are not sorted incremental.

So if one service is for some reason off some minutes, than we have an issue.

So we still risk wrong balances with this ap

[2021-12-24 01:52] koresar commented on #38
AFAIK, in Medici the:
* `datetime` is the time when real-world operation happened. For example, if a payment was done yesterday evening but for some operational reasons we are recording it only today morning.
* `timestamp` is the time we added the record to the DB. This was added before `mongoose` had `createdAt` auto-insertion.

We should not rely on any of the above Date fields as they are not e

[2021-12-24 03:54] koresar commented on #38
Another feature we can try dropping is the `approve`. We are not using. I don't know anyone using it.

[2021-12-24 08:46] koresar commented on #38
**1. Generate _id server side only.**

Looks like we don't need to maintain second connection. We can reuse mongoose's driver connection with one option:

[code]

[2021-12-24 09:56] Uzlopak commented on #38
Yes. If you dont provide an _id and with forceServerObjectId it will generate the objectids on the server side. But it works as long as you don't use sharding. When you start using sharding the mongo instances can have issues with different times.

Also if you want to use timestamps like you mention, probably doesnt matter if you just use mixed as schema type for it. As long as you don't want to r

[2021-12-24 10:03] Uzlopak commented on #38
Also be careful. I wrote the stress tests because mongo transactions need atleast one awaited operation, before you can send the rest in a Promise.all. e.g. that's why I store first the journal and then Promise.all the transactions. The other way round would result in transaction errors. If you want to use server side ObjectIds you would need again to store first all the transactions, and then ext

[2021-12-24 11:30] Uzlopak commented on #38
Maybe it makes sense to set mongoose to  ">= 5" or "*" and remove the package.lock.json from the repo/npm package. Thus making the mongoose version irrelevant. We did not use any specific API from mongoose I think. We should still check our code with monoose 5 but there is no special code used. Only mongoose 6 has some more typings, like the pipeline.stage interfaces, which was only added by me to

[2021-12-24 11:47] Uzlopak commented on #38
I removed the pipelinestage interfaces.

So I think mongoose 5 should work with the unit tests also.

[2021-12-24 12:51] koresar commented on #38
No.

Btw, FYI we are not using TypeScript ourselves.

Regarding `forceServerObjectId`. I read the docs. Looks like `forceServerObjectId` and `$currentDate` have exactly the same shortcomings. Moreover, `$currentDate` have 1000 times higher chances of problems because server-generated `_id` granularity is based on milliseconds, but `Timestamp` is based on seconds.

Regarding replicaset issues. Typi

[2021-12-24 13:18] Uzlopak commented on #38
Sounds fine. We should then document that we don't use mongoose operations so using mongoose hooks in schemas like save middleware won't be hit anymore.

Also the replicaset issue is different from sharding I think. But on the other hand, if it is shard specific it should be no issue.

Why does insertMany does not contain the insertedIds? According to the docs it should contain the insertedIds?

h

[2021-12-24 13:28] Uzlopak commented on #38
Why do you do Object.values on insertedIds? InsertedIds should be already an Array of ObjectIds? Maybe this is the reason that ObjectIds are undefined?
Sorry I can't test stuff on my mobile :).

[2021-12-24 16:25] Uzlopak commented on #38
Ok, I get it.

PS: This server side objectid bug by mongo is actually pretty bad.

[2022-01-01 21:35] Uzlopak opened #43 "Timestamp"
@koresar

The failed unit test made me thinking. Despite we lost the validation functionality this actually means that you could overwrite the timestamp and set it something in the future or in the past, which would actually violate the "rule of good bookkeeping". Also could mean that a persisted balance could be breaken, by setting a debit into very past.    Didn't thought of it before.

Implicit

[2022-01-01 23:15] Uzlopak commented on #43
Maybe use current date operator?

https://docs.mongodb.com/manual/reference/operator/update/currentDate/

[2022-01-02 10:09] koresar commented on #43
Totally makes sense.
Also, I think I removed mongoose validation too early.

On the other hand, we allow overwriting the entire model! This also can be
damaging to the data consistency.
Should we remove this feature as well?

On Sun, 2 Jan 2022, 10:16 Uzlopak, ***@***.***> wrote:

[2022-01-06 05:54] koresar commented on #43
Saw your commits. Let's mark this as resolved now.

PS: we need to think of not allowing changing ledger schema.

[2022-01-06 05:54] #43 closed

[2022-01-06 10:34] koresar commented on #38
Fast balance was implemented.
Also, I've added mongoose v5 support (now both v5 and v6 are supported).
And published: `npm i medici@next`

Gonna try it on large codebases.

[2022-01-07 11:31] koresar commented on #38
Ok. I've published the `npm i medici@next`. Actually, 8 of them. But I found a large number of bugs (mostly introduced by my refactorings). All the bugs are fixed now.

The medici v5 is 100% compatible with our codebases (well, except `book` -> `Book` module exports rename).

Going to publish the `5.0.0-next.9` as `5.0.0` next week.

[2022-01-08 13:44] koresar commented on #38
Houston, we have a problem.

`syncIndexes` **kills existing indexes. This must not happen!** People (us) might have any other arbitrary indexes on "transactions" collection. Moreover, the README recommends which other indexes you better add manually.

The solution I see so far...

The `syncIndexes` must not use the mongoose `model.syncIndexes`. Instead, it should drop all indexes which rely on `ap

[2022-01-08 14:18] Uzlopak commented on #38
I actually recommend to drop the indexes. If you want to have a transition then use setTransactionSchema and add the old indexes, so they get not dropped. Then mongo will just add new indexes. Then in a week you drop the old indexes.

[2022-01-08 23:59] koresar commented on #38
Our system will stop functioning if we drop any single custom index at any point of time.

Sorry, your recommendation is not possible.

The `syncIndexes` must be rewritten or removed from the package.

[2022-01-09 00:09] Uzlopak commented on #38
You are not forced to call syncIndexes. And also syncIndexes will not drop any of the old indexes, if you define the old indexes in your custom Schema when using setTransactionSchema.

[2022-01-09 06:01] koresar commented on #38
This is incorrect. I am forces to sync indexes because we dropped `approved` property which is a part of several indexes.

We are not using any custom schema. (Moreover, I believe "custom schema" should be removed from medici later.) So, in our case the `syncIndexes` does drop all the indexes.

Moreover, `mongoose` devs do not recommend using their index auto creation in production. [Quoting](http

[2022-01-11 04:39] koresar commented on #38
The new MongoDB 5.0 "Time series" feature could be what we need: https://docs.mongodb.com/manual/core/timeseries-collections/

Thoughts?

[2022-01-11 12:28] koresar commented on #38
I went with the option **a)** - updated the README.

There is another idea for balance snapshot - [read-only views](https://docs.mongodb.com/manual/core/views/).

The balance query can be stored as a read-only view. So that medici wouldn't need to maintain the `medici_balances` collection. MonoDB would do in the background it instead.

[2022-01-12 01:35] koresar commented on #38
Released as v5.0.0

[code]

At last! :)

[2022-01-12 01:35] #38 closed

[2022-01-12 01:37] koresar commented on #30
Released as `v5.0.0`.

[code]

[2022-01-12 01:39] koresar commented on #23
Released as `v5.0.0`.

[code]

[2022-01-12 01:40] koresar commented on #22
Released as `v5.0.0`.

[code]

Voiding is now faster, more reliable, and done with a single `updateMany` rather than multiple `updateOne` calls.

[2022-01-25 17:17] cycleguy opened #58 "After upgrading to 5.1.0 retrieving balance using custom properties as keys returns 0"
@koresar
Thank you for this module.

We have created a test program that demonstrates this.  We have introduced two custom properties: _businessId and _assetId.

- Without using a custom schema  retrieving a book balance using these custom properties as keys returns the correct result.
- When using a custom schema (line 15 in app.js is uncommented), retrieving book balance without using any of the

[2022-01-25 17:41] Uzlopak commented on #58
The implicit registration of Schemas is obsolete with medici v5. you have to write a mongoose schema and use setTransactionSchema use as first parameter the Schema. Based on the Schema, medici v5 determines if it is a meta key or root key. As you did not assigned it, medici tries to search for _businessId and _assetId in the meta field and not on the root field

Also be aware: In medici v4 there w

[2022-01-25 18:58] cycleguy commented on #58
We have written a mongoose schema and we are using setTransactionSchema within the mediciTransaction.js file.  You mentioned that we did not assign it, what exactly are you referring to?  Thanks.

[2022-01-25 19:15] Uzlopak commented on #58
In your zipfile you don't call setTransactionSchema.

[2022-01-25 19:43] cycleguy commented on #58
I double checked the zip file that I sent you....

- On line 15 of app.js (if uncommented out) does a require on ./models/mediciTransaction
- On line 41 of mediciTransaction.js it calls setTransactionSchema()

- src/app.js
- src/index.js
- src/models/mediciTransaction.js

[2022-01-26 06:43] dolcalmi commented on #58
We have the same issue, I think is a problem in `parseBalanceQuery` https://github.com/flash-oss/medici/blob/master/src/helper/parse/parseBalanceQuery.ts#L38 should use the same logic used in `parseFilterQuery` https://github.com/flash-oss/medici/blob/master/src/helper/parse/parseFilterQuery.ts#L52

[2022-01-26 18:37] cycleguy commented on #58
Thank you in advance @dolcalmi for taking the time to fix this issue.

[2022-01-27 06:58] koresar commented on #58
The difference exists because the balance query (not the balance, but the query JSON) is being serialised to a single string as a Quick Balance cache key: https://github.com/flash-oss/medici/blob/12dd0b3b778cd0341a1492020323da4b7d4bb971/src/models/balance.ts#L48

The key is being constructed wrongly when schema is not native and you query by our own keys.

Quick workarounds would be to disable Qui

[2022-01-27 15:13] dolcalmi commented on #58
this is not the only issue, the problem is how the query is parsed. I will work on it today

[2022-02-14 17:35] javierpineros opened #63 "NIIF Support"
Please sayme if this project its compatible with NIIF international norms of IFRS?

Thanks!

[2022-02-14 17:50] Uzlopak commented on #63
NIIF?

[2022-02-14 18:13] javierpineros commented on #63
Thanks for your quick response

This norms are a international standard for accounting managed by **IFRS Foundation** (International Reporting Financial Standars)

Below is an excerpt from this foundation on its website (www.ifrs.com)

**The IFRS Foundation is a not-for-profit, public interest organisation established to develop a single set of high-quality, understandable, enforceable and globall

[2022-02-14 18:35] Uzlopak commented on #63
LOL, I dont think so. This is just a package for implementing basic accounting. If you want to ensure that various standards are fullfilled.

[2022-02-14 18:39] javierpineros commented on #63
Okay, I get it, thanks for you response, have a great day! :)

[2022-02-15 01:02] koresar commented on #63
medici supports NIIF as much as JavaScript does.

medici is just a tool. You can use or abuse it.

[2022-02-18 11:13] indrajitsinh opened #64 "Database independent - using ORM https://www.prisma.io/"
Thank you for your hard efforts, it's an amazing project

https://www.prisma.io/  - supports a lot of databases and it would be amazing to use such ORM and make this project independent from the underlying database

[2022-02-18 11:30] Uzlopak commented on #64
Yeah, probably a good move.Should still make a benchmark regarding performance.

If you use old mongodb driver like 3.0.2 then you are like 5 times faster than using the latest driver. Really sad.

[2022-03-03 09:23] aintHuman opened #65 "Mongoose Specify Connection"
How can I specify the connection to use ?

For example, when connection is achieved by mongoose.createConnection(...) vs mongoose.connect(...).

The project I am working on makes use of connections returned from the createConnection method, and not via the standard mongoose connection pool.

Cant find any documentation or outline in your readme on where the connection can be specified

[2022-03-03 10:27] koresar commented on #65
Oh, bummer. We don't support connections except the default one. I'm so sorry!

Can you implement a pull request?

[2022-03-06 12:45] aintHuman opened #66 "Set Timestamp for Journal Entry"
Is it possible to set the timestamp manually for a journal entry ?

[2022-03-06 12:47] Uzlopak commented on #66
Why would you like to do this?

[2022-03-06 12:55] aintHuman commented on #66
One example, say I take a payment using platform such as Stripe. My system gets a WebHook notification (not guaranteed to be instant) notifying me that the payment was processed. The payload of the WebHook notice contains the timestamp of the actual transaction. I would like to be able to use that timestamp for the journal entry instead of the time when the payload was received.

Also lets say I d

[2022-03-06 13:12] Uzlopak commented on #66
The timestamp is the technical date, when the information was technically stored in the database. The datetime field is the general ledger entry date.

[2022-03-06 13:13] aintHuman commented on #66
Ok, no problem, so how do you set the datetime field ?

[2022-03-06 13:30] Uzlopak commented on #66
Correct

[2022-03-06 13:57] aintHuman commented on #66
Thanks mate.

[2022-03-07 02:26] koresar commented on #66
Thanks all!

[2022-03-07 02:26] #66 closed

[2022-05-02 07:34] khoathanglong opened #69 "Question: do you have an UI for this or do you plan to build one?"

[2022-05-02 07:38] Uzlopak commented on #69
Not that I am aware of.

[2022-07-06 02:32] koresar commented on #69
We get this question quite often. We might need to build one. :)

**DOES ANYONE WANT TO BUILD A UI FOR MEDICI?**
Feel free to use any technology, framework of your liking.

[2022-07-06 02:33] koresar commented on #64
We have quite some performance MongoDB optimisations done within this project. Moving to Prisma sounds like a task which is very hard to pull off.

I'll close this issue for now. But still waiting for other people contributions.

[2022-07-06 02:33] #64 closed

[2022-07-06 17:53] dolcalmi commented on #58
@koresar this can be closed once the new version is released

[2022-07-07 14:43] nicolasburtey opened #71 "last version not released?"
hey guys @maintenairs.

there are been a couple of merged PR that we'd like to use, but medici has not been released following those PR merged. is that something you can do?

[2022-07-07 14:45] Uzlopak commented on #71
@koresar

[2022-07-08 02:18] koresar commented on #71
Good morning.
Published. See here: https://github.com/flash-oss/medici/releases?page=1

[2022-07-08 02:18] #71 closed

[2022-07-08 02:18] koresar commented on #58
Published in v5.2

[2022-07-08 02:18] #58 closed

[2022-07-08 02:19] koresar commented on #65
I'm happy to wait as long as it takes. Feel free to discuss further.

[2022-07-08 02:19] #65 closed

[2022-08-05 20:42] Uzlopak opened #90 "new release"
@koresar

@adam2k and I worked on medici and we modified it accordingly to fix the sec. vuln. of mongoose.

Can you please make a release?

[2022-08-05 20:45] adam2k commented on #90
Thanks for all the help @Uzlopak!

[2022-08-06 06:50] koresar commented on #90
Hello guys. Thanks for the great work!

I have few concerns.

1. I've just noticed that the project is lacking a lock file. I am maintaining npm modules for more than 5 years and built a number of best practices over the years. One of them - having lock file is good for you. It doesn't stop me from publishing the new version though. :) But seems like it's time for a blog post: "Best practices for

[2022-08-06 06:55] koresar commented on #90
Published as v5.2.2

[2022-08-06 06:55] #90 closed

[2022-08-09 14:27] poeti8 opened #95 "Questions on the implementation"
First of all, thank you for the project, I'm learning a lot from it. I was interested on implementing the same idea on a SQL database, however I had some doubts.

What makes me wonder is if it makes sense to create a collection (table if SQL) for each account. e.g. a collection for `Assets:Cash:USD`, one for `Assets:Cash:EUR` and so on. Was this ever considered on this project? what would be the d

[2022-08-09 15:05] Uzlopak commented on #95
Well. I think the implementation of book keeping is regarding mongodb good. But I think for scaling up I would nowadays probably do different approaches. Anyway: I would recommend to you to look how e.g. Microsoft Dynamics AX 2012 or so did handle the t-tables. I worked with those design like 8 years ago and I think it is still be best way to do it in SQL.

[2022-08-10 07:13] poeti8 commented on #95
I see. Thanks for that.
One last thing, you said you'd probably take different approaches nowdays, may I ask what you have on your mind so I can just have some general ideas?

[2022-08-10 08:58] Uzlopak commented on #95
Well. I think to realize a good accounting software you actually need to implement some aspects more technically and some aspects closer to the reality and more according to the thing we call in Germany GoB = Grundsätze der ordentlichen Buchhaltung. According to wiki its called accounting standards in English.

E.g. technical aspects is e.g. enforcing to not use floats, always integers. See https:

[2022-08-11 11:42] koresar commented on #95
Now I want to implement Rechnungsabgrenzungsposten.

Thanks. So useful! I'd love to see that info in the md file or something.

[2022-08-12 05:58] prashb94 commented on #95
+1 to implementing Rechnungsabgrenzungsposten!

[2022-08-12 08:27] poeti8 commented on #95
Thanks for your explanation, it was a good read.

[2022-08-14 05:51] trasherdk commented on #95
I, for one, would love to se a `medici-sql` version, modeled from @Uzlopak answer :+1:

[2022-08-15 09:43] Uzlopak commented on #95
Tbh I first thought you make jokes about implementing Rechnungsabgrenzungsposten ;)

Regarding a new implementation: I would recommend to use Prisma’s Open Source ORM (not the Prisma PaaS) or any other multi database ORM. You would then stronger separate the database layer from the logic layer and could switch the database if you need to. So you could use mysql  or postgre-sql or sqlite (well mayb

[2022-08-18 01:57] koresar commented on #95
In medici, I would discourage creating accounts like `Customer:CustomerId:fees`.

Instead, I'd recommend to use `meta` data more.

`Customer:fees` + `meta.CustomerId = "1234"`

In medici, I'd NOT recommend storing anything variable in account names. By saying "variable" I mean: IDs, dates, names, emails, etc.

In my opinion account `Income:TransactionFees:august2022` is a bad idea. I'd recommend h

[2022-08-18 07:59] Uzlopak commented on #95
For medici thats true, Income:TransactionFee:august2022 was just an example to have a 3-part account.

[2022-08-19 00:59] #95 closed

[2022-08-26 13:31] edboyle212 opened #96 "Question: Why MongoDB? Have you considered iterating to a relational db?"
Double-entry accounting is so highly relational by design, why not a SQL db?

[2022-08-27 04:13] koresar commented on #96
Because it's the only software out there implementing double entry accounting in a document store. In other words - because re world need diversity. Some people need it.

[2022-08-31 13:06] #96 closed

[2022-11-29 03:25] HuuTV commented on #65
where are create the connection? have a example?